<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<array>
		<dict>
			<key>stationName</key>
			<string>NorthPole</string>
			<key>stationLineNo</key>
			<integer>1</integer>
			<key>sourceLaneId</key>
			<integer>1</integer>
			<key>linkingLaneId</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>stationName</key>
			<string>Shelodon Street</string>
			<key>stationLineNo</key>
			<integer>2</integer>
			<key>sourceLaneId</key>
			<integer>1</integer>
			<key>linkingLaneId</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>stationName</key>
			<string>Greenland</string>
			<key>stationLineNo</key>
			<integer>3</integer>
			<key>sourceLaneId</key>
			<integer>1</integer>
			<key>linkingLaneId</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>stationName</key>
			<string>City center</string>
			<key>stationLineNo</key>
			<integer>4</integer>
			<key>sourceLaneId</key>
			<integer>1</integer>
			<key>linkingLaneId</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>stationName</key>
			<string>Stadium House</string>
			<key>stationLineNo</key>
			<integer>5</integer>
			<key>sourceLaneId</key>
			<integer>1</integer>
			<key>linkingLaneId</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>stationName</key>
			<string>Green House</string>
			<key>stationLineNo</key>
			<integer>6</integer>
			<key>sourceLaneId</key>
			<integer>1</integer>
			<key>linkingLaneId</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>stationName</key>
			<string>Green cross</string>
			<key>stationLineNo</key>
			<integer>7</integer>
			<key>sourceLaneId</key>
			<integer>1</integer>
			<key>linkingLaneId</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>stationName</key>
			<string>South Pole</string>
			<key>stationLineNo</key>
			<integer>8</integer>
			<key>sourceLaneId</key>
			<integer>1</integer>
			<key>linkingLaneId</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>stationName</key>
			<string>South Park</string>
			<key>stationLineNo</key>
			<integer>9</integer>
			<key>sourceLaneId</key>
			<integer>1</integer>
			<key>linkingLaneId</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>stationName</key>
			<string>Martix stand</string>
			<key>stationLineNo</key>
			<integer>1</integer>
			<key>sourceLaneId</key>
			<integer>3</integer>
			<key>linkingLaneId</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>stationName</key>
			<string>Keymakers lane</string>
			<key>stationLineNo</key>
			<integer>2</integer>
			<key>sourceLaneId</key>
			<integer>3</integer>
			<key>linkingLaneId</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>stationName</key>
			<string>Oracle lane</string>
			<key>stationLineNo</key>
			<integer>3</integer>
			<key>sourceLaneId</key>
			<integer>3</integer>
			<key>linkingLaneId</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>stationName</key>
			<string>Boxing avenue</string>
			<key>stationLineNo</key>
			<integer>4</integer>
			<key>sourceLaneId</key>
			<integer>3</integer>
			<key>linkingLaneId</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>stationName</key>
			<string>Cypher lane</string>
			<key>stationLineNo</key>
			<integer>5</integer>
			<key>sourceLaneId</key>
			<integer>3</integer>
			<key>linkingLaneId</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>stationName</key>
			<string>Smith lane</string>
			<key>stationLineNo</key>
			<integer>6</integer>
			<key>sourceLaneId</key>
			<integer>3</integer>
			<key>linkingLaneId</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>stationName</key>
			<string>Morpheus lane</string>
			<key>stationLineNo</key>
			<integer>7</integer>
			<key>sourceLaneId</key>
			<integer>3</integer>
			<key>linkingLaneId</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>stationName</key>
			<string>Trinity lane</string>
			<key>stationLineNo</key>
			<integer>8</integer>
			<key>sourceLaneId</key>
			<integer>3</integer>
			<key>linkingLaneId</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>stationName</key>
			<string>Neo lane</string>
			<key>stationLineNo</key>
			<integer>9</integer>
			<key>sourceLaneId</key>
			<integer>3</integer>
			<key>linkingLaneId</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>stationName</key>
			<string>East end</string>
			<key>stationLineNo</key>
			<integer>1</integer>
			<key>sourceLaneId</key>
			<integer>2</integer>
			<key>linkingLaneId</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>stationName</key>
			<string>Foot stand</string>
			<key>stationLineNo</key>
			<integer>2</integer>
			<key>sourceLaneId</key>
			<integer>2</integer>
			<key>linkingLaneId</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>stationName</key>
			<string>Football stadium</string>
			<key>stationLineNo</key>
			<integer>3</integer>
			<key>sourceLaneId</key>
			<integer>2</integer>
			<key>linkingLaneId</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>stationName</key>
			<string>City center</string>
			<key>stationLineNo</key>
			<integer>4</integer>
			<key>sourceLaneId</key>
			<integer>2</integer>
			<key>linkingLaneId</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>stationName</key>
			<string>Maximus</string>
			<key>stationLineNo</key>
			<integer>5</integer>
			<key>sourceLaneId</key>
			<integer>2</integer>
			<key>linkingLaneId</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>stationName</key>
			<string>Peter park</string>
			<key>stationLineNo</key>
			<integer>6</integer>
			<key>sourceLaneId</key>
			<integer>2</integer>
			<key>linkingLaneId</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>stationName</key>
			<string>Rocky street</string>
			<key>stationLineNo</key>
			<integer>7</integer>
			<key>sourceLaneId</key>
			<integer>2</integer>
			<key>linkingLaneId</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>stationName</key>
			<string>Boxers street</string>
			<key>stationLineNo</key>
			<integer>8</integer>
			<key>sourceLaneId</key>
			<integer>2</integer>
			<key>linkingLaneId</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>stationName</key>
			<string>Boxing avenue</string>
			<key>stationLineNo</key>
			<integer>9</integer>
			<key>sourceLaneId</key>
			<integer>2</integer>
			<key>linkingLaneId</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>stationName</key>
			<string>West end</string>
			<key>stationLineNo</key>
			<integer>10</integer>
			<key>sourceLaneId</key>
			<integer>2</integer>
			<key>linkingLaneId</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>stationName</key>
			<string>East end</string>
			<key>stationLineNo</key>
			<integer>1</integer>
			<key>sourceLaneId</key>
			<integer>5</integer>
			<key>linkingLaneId</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>stationName</key>
			<string>Gothan Street</string>
			<key>stationLineNo</key>
			<integer>2</integer>
			<key>sourceLaneId</key>
			<integer>5</integer>
			<key>linkingLaneId</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>stationName</key>
			<string>Batman Street</string>
			<key>stationLineNo</key>
			<integer>3</integer>
			<key>sourceLaneId</key>
			<integer>5</integer>
			<key>linkingLaneId</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>stationName</key>
			<string>Jokers street</string>
			<key>stationLineNo</key>
			<integer>4</integer>
			<key>sourceLaneId</key>
			<integer>5</integer>
			<key>linkingLaneId</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>stationName</key>
			<string>Hawkins street</string>
			<key>stationLineNo</key>
			<integer>5</integer>
			<key>sourceLaneId</key>
			<integer>5</integer>
			<key>linkingLaneId</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>stationName</key>
			<string>Da Vinci lane</string>
			<key>stationLineNo</key>
			<integer>6</integer>
			<key>sourceLaneId</key>
			<integer>5</integer>
			<key>linkingLaneId</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>stationName</key>
			<string>South Park</string>
			<key>stationLineNo</key>
			<integer>7</integer>
			<key>sourceLaneId</key>
			<integer>5</integer>
			<key>linkingLaneId</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>stationName</key>
			<string>Newton bath tub</string>
			<key>stationLineNo</key>
			<integer>8</integer>
			<key>sourceLaneId</key>
			<integer>5</integer>
			<key>linkingLaneId</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>stationName</key>
			<string>Einstein lane</string>
			<key>stationLineNo</key>
			<integer>9</integer>
			<key>sourceLaneId</key>
			<integer>5</integer>
			<key>linkingLaneId</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>stationName</key>
			<string>Neo lane</string>
			<key>stationLineNo</key>
			<integer>10</integer>
			<key>sourceLaneId</key>
			<integer>5</integer>
			<key>linkingLaneId</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>stationName</key>
			<string>Green cross</string>
			<key>stationLineNo</key>
			<integer>1</integer>
			<key>sourceLaneId</key>
			<integer>4</integer>
			<key>linkingLaneId</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>stationName</key>
			<string>Orange street</string>
			<key>stationLineNo</key>
			<integer>2</integer>
			<key>sourceLaneId</key>
			<integer>4</integer>
			<key>linkingLaneId</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>stationName</key>
			<string>Silk board</string>
			<key>stationLineNo</key>
			<integer>3</integer>
			<key>sourceLaneId</key>
			<integer>4</integer>
			<key>linkingLaneId</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>stationName</key>
			<string>Snake Park</string>
			<key>stationLineNo</key>
			<integer>4</integer>
			<key>sourceLaneId</key>
			<integer>4</integer>
			<key>linkingLaneId</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>stationName</key>
			<string>Morpheus lane</string>
			<key>stationLineNo</key>
			<integer>5</integer>
			<key>sourceLaneId</key>
			<integer>4</integer>
			<key>linkingLaneId</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>stationName</key>
			<string>Little street</string>
			<key>stationLineNo</key>
			<integer>6</integer>
			<key>sourceLaneId</key>
			<integer>4</integer>
			<key>linkingLaneId</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>stationName</key>
			<string>Cricket grounds</string>
			<key>stationLineNo</key>
			<integer>7</integer>
			<key>sourceLaneId</key>
			<integer>4</integer>
			<key>linkingLaneId</key>
			<integer>0</integer>
		</dict>
	</array>
</dict>
</plist>
